<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.mindcoders.phial">

    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <application>
        <provider
            android:name=".internal.util.support.FileProvider"
            android:authorities="com.mindcoders.phial.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="com.mindcoders.phial.internal.util.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/phial_share_paths" />
        </provider>

    </application>

</manifest>
